{
	"presets": [
		[
			"babel-preset-gatsby-package",
			{
				"browser": true,
				"targets": {
					"node": true
				}
			}
		]
	],
	"comments": false,
	"plugins": [
		"@babel/plugin-transform-runtime"
	],
	"ignore": [
		"node_modules/",
		"tests/",
	]
}
