{
	"root": true,
	"extends": ["eslint:recommended", "prettier", "plugin:prettier/recommended"],
	"plugins": ["react", "babel", "prettier"],
	"env": {
		"node": true,
		"es6": true
	},
	"parser": "@babel/eslint-parser",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"settings": {
		"react": {
			"version": "detect"
		}
	}
}
